@{
    ViewData["Title"] = "Bem-vindo";
}
<div class="text-center p-5 bg-light rounded-3">
    <h1>Refúgio da Mimi</h1>
    <p>A sua escapadinha perfeita no norte de Portugal</p>
    <a class="btn btn-primary" href="/Reservar">Reservar Agora</a>
</div>
